cython
pandas>=1.1.0, <1.3.0; python_version == '3.7'
pandas>=1.3.0; python_version >='3.8'
dataclasses==0.7; python_version < '3.7'
numpy
typing==3.7.4.1
matplotlib==3.0.2; python_version < '3.8'
matplotlib==3.3.1; python_version == '3.8'
seaborn==0.9.0
MPh==0.7.6
pickledb==0.9.2
shapely
pytest>=6.2.*
autodocsumm==0.2.11
tqdm==4.64.1
thegolem
scikit-image